.form-group--template {
	background: white;
	margin: 0 !important;
	overflow: hidden;
	padding: 16px;
}

.form-group--template:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

.form-group--template select {
	background: #F6F6F6;
}

.group--contents-inherit > .form-group:nth-child(even) .element-description {
	max-width: none;
}

.group--contents-inherit > .form-group.editing {
	display: none;
}

.group--contents-inherit > .form-group.editing + .form-group {
	display: block;
}

.form-group--pattern input {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
